*{
    /* box-sizing: border-box; */
    margin:0px;
    
}
.page{
    /* border: 2px solid black; */
    width: 700px;
    align-items: center;
    margin-left: 300px;
}
.top{
    /* border: 1px solid black; */
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    
}
.amazon_logo{
    padding-left: 15px;
    /* border:solid 1px black; */
    display: inline-block;
    height: 50px;
    width: 170px; 
    
}
.tax_invoice{
    padding-top: 10px;
    /* border:solid 1px black; */
    height: 40px;
    width: 240px;
    float:right;
}

.sold_and_address{
    /* border: 1px solid rgb(233, 12, 12); */
    height: 130px;
    /* width: 280px; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.sold_details{
    /* border:  solid 1px black; */
    display: inline-block;
    height: 130px;
    width: 280px;
    /* margin: 50px; */
    
    
}

.billing_address{
    /* border:  solid 1px black; */
    /* display: inline-block; */
    float: right;
    height: 130px;
    width: 260px;
    text-align: right;
    /* margin: 50px; */
   
}

.shipping_details{
    
    /* border: 1px solid rgb(233, 12, 12); */
    height: 210px;
    /* width: 280px; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    
    
}

.order{
    /* border:  solid 1px black; */
    display: inline-block;
    height: 30px;
    width: 280px;
    margin-top: 180px;
    
    
}

.shipping_address{
    /* border:  solid 1px black; */
    float: right;
    height: 150px;
    width: 280px;
    text-align: right;
    /* margin: 50px; */
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    /* padding: 1px; */
    /* border-spacing: 1px; */
}

/* tr {
    height: 2px; 
} */

th, td {
    width:00px;
    text-align: left;
    width: fit-content;
}

th {
    background-color: #bdc5c2;
    color: rgb(3, 0, 0);
}

.TextSize {
    font-size: 12px;
}

.bottom{
    margin-left: 50px;
    margin-right: 50px;
}